
*{
    margin: 0;
    padding: 0;
} 

body{
    background-color: #add8e6;
}

/* header */
.container{
    margin: 0 auto;
    max-width: 70%;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    }

header >div{
    padding: 15px 12px;
    border: 2px dotted #000;
    background-color: #daa520;
}

header .box-1{
    width: 238px;
    }

header #menù-centrale{
    flex-grow: 1;
    }

nav{
    text-align: center;
}

/* main */

#sec-1{
    display: flex;
    justify-content: center;
    background-color: #00008b;
    padding: 51px;
}

#sec-1>div{
    height: 401px;
    width: 904px;
    background-color: #ee82ee;
    border: 2px dotted #000;
    
}

.blocco2{
    display: flex;
    justify-content: center;
    height: 600px;
    background-color: #ffffff;
    margin-top: 2px;
    padding: 50px 0;
    
}

.blu{
    background-color: #1e90ff;
    width: 725px;
    border: 2px dotted #000;
}

.rosa{
    background-color: #ffc0cb;
    width: 480px;
    border: 2px dotted #000;
}